<div id="<%= dom_id friendship %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= friendship.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Friend:</strong>
    <%= friendship.friend_id %>
  </div>
</div>
