<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render "layouts/flash" %>
      <h1>Home</h1>
      <hr>
      <p>Welcome to the home page!</p>
      <p><%= link_to "Sign up", new_registration_path, class: "w-full sm:w-auto text-center rounded-md my-0.5 px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer"  %></p>
      <p><%= link_to "Log in", new_session_path, class: "w-full sm:w-auto text-center rounded-md my-0.5 px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer"  %></p>
    </div>
  </div>